<div class="page-header">
  <%= link_to blogs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
    <% if current_user.is_admin? %>
      <%= link_to edit_blog_path(@blog), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
  <% end %>
  <h1><%= @blog.category.capitalize + '-' + @blog.title.capitalize%> </h1>
</div>

<div class="blog row">
  <div class="col s12">
    <%= raw(@blog.desc) %>
  </div>
  <div class="col s12">
    By <%= @blog.user.name %> on <%= @blog.created_at.to_time.strftime('%B %e at %l:%M %p') %>
  </div>
</div>

