<div class="row listing-new">
<%= form_for(@listing, html: { class: "form-horizontal dropzone", multipart: true,  role: "form", id:"listing_form" }) do |f| %>
  <% if @listing.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @listing.type == 1 %>
    <%= render 'easy_form', :f => f %>
  <% elsif @listing.type == 2 %>
    <%= render 'air_form', :f => f %>
  <% else %>
    <%= render 'new_form', :f => f %>
  <% end %>



    <h5>Time</h5>

    <div class="input-field col s12">
      <%= f.label :duration, class: "active" %>
      <%= f.select(:duration, (4..12).step(1).to_a.map{|s| ["#{s} Hours", s]}) %>
    </div>

    <div class="input-field col s12">
      <%= f.label :begin_time, class: "active" %>
      <%= f.date_field :begin_time, class: "datepicker" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :time, class: "active" %>
      <%= f.text_field :time, class: "timepicker" %>
    </div>

    <div id="image"></div>

    


    <div class="col s12">
      <div class="card-panel waves-effect waves-block waves-green" id="clickzone">
          <span class="">Drop file here or click here
          </span>
        </div>
      <div classs="dropzone-previews" id ="previews"></div>
    </div>
    
  <div class="col s12">
    <div class="col-sm-offset-2 col-sm-10">
      <% if current_user.confirmed? %>
        <%= f.submit class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Resend confirm email", new_confirmation_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
  
<% end %>
</div>

<%= render 'drop' %>
