<h5>Package</h5>

    <div class="input-field col s12">
      <%= f.label :package, class: "active" %>
      <%= f.select(:package, Listing.packages.keys, {}, :onchange=>"ChangeContext(this.value);") %>
    </div>

    <div id="package">

      <div class="input-field col s12">
        <%= f.label :name, class: "active" %>
        <%= f.text_field :name, class: "validate" %>
      </div>

      <div class="input-field col s12">
        <%= f.label :desc, class: "active" %>
        <%= f.text_field :desc, class: "validate" %>
      </div>
      <h5>Price</h5>
      <div class="input-field col s12">
        <%= f.label :price %>
        <div id="listing"></div>
        <%= f.number_field :price, class: "validate col s12 number-input", value: 600 %>
      </div>

      <h5>Location</h5>
      <p>
        <%= f.check_box :hide %>
        <label for="listing_hide">Hide Address</label>
      </p>
      <div class="input-field col s12">
        <label class="active" for="special">Place</label>

        <%= f.text_field :address, class: "validate", id: "special"%>
      </div>

    </div>

<%= render 'change' %>