<div class="page-header">
  <div class="inline-block left">
    <h1>Favorite Listing</h1>
  </div> 
  <div class="result inline-block">
    <span><%= params[:query] %></span> 
    <span class="grey-text total"><i><%= @listings.total_count %> results</i></span>
  </div>
</div>
<div class="row">
  <div class="col hidden-xs hide fixed-map">
    <div style='width: 100%;'>
    <div id="map" style='width: 90%; height: 400px;'></div>
    </div>
  </div>
  <div class="col s12" >
    <div id="listing-item">
      <%= render partial: 'fav_item', collection: @listings.page(params[:listing]), as: :listing %>
    </div>
    <div id="listing-num">
      <%= paginate @listings.page(params[:listing]), :remote => true, param_name: 'listing', :window => 1 %>
    </div>
  </div>
</div>

<%= render 'home/slider' %>
