<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thank For Support Kikia - PO<%= @booking.id %></title>
    <%= render 'email_style' %>
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">You have successfully order <%= @listing.package %>, for <%= @booking.end_time.strftime('%d/%m/%Y at %H:%M %p') %> end in <%= @booking.begin_time.strftime('%d/%m/%Y at %H:%M %p') %> days in <%= @listing.city %>.</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi <%= @user.name %>,</p>
                        <p>You have successfully order <%= @listing.package %>, begin <span class='red-text'><%= @booking.begin_time.strftime('%d/%m/%Y at %H:%M %p') %></span> and end at <span class='red-text'><%= @booking.end_time.strftime('%d/%m/%Y at %H:%M %p') %></span> locate in <%= @listing.city %></p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <%= link_to 'Download Invoice', invoice_url(@invoice, :format => 'pdf') %>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tr>
                            <td style='width: 40%;'>
                              Driver Name
                            </td>
                            <td class='align-left'><%= @booking.listing.user.name %></td>
                          </tr>
                          <tr>
                            <td style='width: 40%;'>
                              Car Plate Number
                            </td>
                            <td class='align-left'>32423</td>
                          </tr>
                          <tr>
                            <td style='width: 40%;'>
                              Booking Number
                            </td>
                            <td class='align-left'><%= @booking.id %></td>
                          </tr>
                          <tr>
                            <td style='width: 40%;'>
                              Invoice Number
                            </td>
                            <td class='align-left'><%= @invoice.id %></td>
                          </tr>
                        </table>
                        <p>Driver will contact you by <%= (@booking.begin_time - 1.weeks).strftime('%d/%m/%Y') %> Kindly read our cancel policy.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">ALOT Technology Sdn Bhd, 4P, Lorong Delima 10,Gelugor 11700 Penang Malaysia.</span>  
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->
            
          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>