<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="left button-left-collapse show-on-medium-and-down hide-on-med-and-up margin-0"><%= image_tag('logo.png', class: "left brand-logo responsive-img") %></a>
    <ul class="side-nav right" id="mobile-demo">
      <%= render 'layouts/menu_bar' %>
    </ul>
    <%= link_to image_tag('logo.png'), root_path, class: "left brand-logo margin-left2rem hide-on-med-and-down" %>
    <span class='hide-on-med-and-down show-on-large'>
      <%= render 'layouts/home_search' %>
    </span>
    <span class="show-on-medium-and-down hide-on-med-and-up">
      <%= render 'layouts/mobile_search' %>
    </span>
    
    <a href="#" data-activates="desktop-demo" class="right button-collapse hide-on-med-and-down show-on-large margin-right2rem"><i class="material-icons">menu</i></a>
    <ul class="side-nav" id="desktop-demo">
      <%= render 'layouts/menu_bar' %>
    </ul>
  </div>
  <div class="nav-content">
      <ul class="tabs tabs-transparent">        
        <li class="tab"><%= link_to 'FOR YOU', root_path, class: active_class(root_path), target: "_self"  %></li>
        <li class="tab"><%= link_to 'Driver', listings_path, class: active_class(listings_path), target: "_self"  %></li>
        <li class="tab"><a class="<%= active_class(users_path) %>" href="#test2">Test 2</a></li>
        <li class="tab"><a class="<%= active_class(users_path) %>" href="#test3">Disabled Tab</a></li>
      </ul>
    </div>
</nav>