<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="left button-left-collapse show-on-small hide-on-med-and-up margin-0"><%= image_tag('logo.png', class: "left brand-logo") %></a>
    <%= render 'layouts/mobile_bar' %>
    <%= link_to image_tag('logo.png'), root_path, class: "left brand-logo margin-left2rem hide-on-small-only" %>
    <%= render 'layouts/home_search' %>
    <a href="#" data-activates="desktop-demo" class="right button-collapse hide-on-small-only show-on-medium-and-up margin-right2rem"><i class="material-icons">menu</i></a>

    <%= render 'layouts/menu_bar' %>
  </div>
  <div class="nav-content">
      <ul class="tabs tabs-transparent">        
        <li class="tab"><%= link_to 'FOR YOU', root_path, class: active_class(root_path), target: "_self"  %></li>
        <li class="tab"><%= link_to 'Driver', listings_path, class: active_class(listings_path), target: "_self"  %></li>
        <li class="tab"><a class="<%= active_class(users_path) %>" href="#test2">Test 2</a></li>
        <li class="tab"><a class="<%= active_class(users_path) %>" href="#test3">Disabled Tab</a></li>
      </ul>
    </div>
</nav>